@using ViewModel;
@{
    List<SelectListItem> temp = ViewData["Categories"] as List<SelectListItem>;
}
@model AddProductViewModel

<form asp-action="Add" asp-controller="Home" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name"> class="form-control">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price"> class="form-control">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label asp-for="Quantity"></label>
        <input asp-for="Quantity"> class="form-control">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div> 
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description"> class="form-control">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>


    <div class="mb-3">
        <label asp-for="CategoryID" class="form-label"></label>
        <select asp-for="CategoryID" asp-items="temp" class="form-control">
        </select>
        <span asp-validation-for="CategoryID" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Images" class="form-label"></label>
        <input asp-for="Images" class="form-control" multiple>
        <span asp-validation-for="Images" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
